<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoNode Challenge 1</title>
</head>
<body>
  <div>
    <form action="/check" method="post">
      Nome:
      <input type="text" name="name" id="input_name">
      Data de Nascimento:
      <input type="date" name="date" id="input_date">
      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
</html>
