<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoNode Challenge 1</title>
</head>
<body>
  <div>
    Parabéns {{nome}}, você tem mais que 18 anos!
  </div>
</body>
</html>
